/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: cyan;
    text-align: center;
  }
  
  h1 {
      color:darkgray;
      font-family: poppins, Helvetica, sans-serif;
      text-align: center;
  }
  
  h3 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:dimgray;
    text-align: center;
  }
  